#banner1{
    width: 100%;
    height: 500px;
    font-family: $fontDescription;
    background-image: url('../../assets/images/tlouBanner1Alternative.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}